<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home Directory</title>
</head>
<body>
<h1>This is Home Directory</h1>
<h2> <%= 1+2 %> </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint et tempora, omnis distinctio sit quisquam officiis mollitia fugit suscipit, accusamus odio architecto molestias. Corrupti, sapiente magni asperiores placeat voluptatibus illo.</p>
<button>Click Here</button> 
</body>
</html>